body {
    margin: 0;
    font-family: "Helvetica", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Helvetica", sans-serif !important;
}

.accordion-body {
    padding: 0 0 0 10px !important;
}

.list-group-flush > .list-group-item {
    border-width: 0 !important;;
}

.accordion-button:not(.collapsed) {
    background-color: #fff !important;
    box-shadow: none !important;
}

.accordion-button::after {
    background-color: #f3f3f3 !important;
    border-radius: 50px !important;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    background-size: 16px !important;
}

.accordion-button {
    transition: color unset !important;
}

.accordion-button:focus {
    border-color: #fff !important;
    box-shadow: none !important;
}

.accordion-details {
    color: #848484 !important;
    padding: 0 0 0 20px !important;
    font-size: 14px !important;
}

.accordion-button:not(.collapsed) {
    color: #333 !important;
}

.list-group-flush > .list-group-item {
    color: #848484 !important;
    font-size: 14px !important;
}

.nav-tabs .nav-link.active {
    border-bottom: 5px solid #FDC60D !important;
    border-spacing: 10px !important;
    font-weight: bold !important;
}

.nav-tabs .nav-link {
    margin-bottom: -5px !important;
    margin-left: 40px !important;
    margin-right: 58px !important;
}

.nav-tabs {
    border-bottom: 0 !important;
}

li.nav-item {
    border-bottom: 5px solid #f3f3f3 !important;
}

.nav-link {
    border: 0 solid !important
}

.nav-link {
    transition: no;
    color: #333 !important;
}

.icon {
    color: #FDC60D !important;
    padding: 10px !important;
    margin-right: 10px !important;
    background-color: #f3f3f3;
}

.location-icon {
    color: #FDC60D !important;
    margin-right: 10px !important;
}


.list-icon {
    color: #FDC60D !important;
    background-color: #f3f3f3 !important;
    border-radius: 5px !important;
    padding: 10px !important;
    width: 50px !important;
    height: 50px !important;
    margin-right: 10px !important;
}

.icon-set {
    color: #FDC60D !important;
    font-size: 20px;
}

.safe {
    background-color: #FFF6D6;
    padding: 10px !important;
    text-align: center;
    border-radius: 10px;
}

.otelinfo {
    background-color: #f3f3f3;
}

.head-text {
    position: relative;
}

.text-on-image {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    width: 20%;
    text-align: center !important;
    padding: 5px;
    left: 2%;
    top: 3%;
}

.photo-number {
    position: relative;
}

.photonumber-text {
    position: absolute;
    border: none !important;
    background-color: #fff !important;
    color: #333 !important;
    border-radius: 5px;
    width: 70%;
    text-align: center !important;
    padding: 5px;
    left: 15%;
    right: 10%;
    bottom: 7%;
}

.photonumber-text:focus {
    border-color: #fff !important;
    box-shadow: none !important;
}

.detail-room {
    background-color: #fff !important;
    color: #333 !important;
    font-size: 14px !important;
    border: none !important;
}

.detail-room:hover {
    background-color: #FFF6D6 !important;
    color: #FDC60D !important;
}


.bordering {
    background-color: #FFF6D6 !important;
    border: 1px solid #FDC60D !important;
    font-size: 14px !important;
    border-radius: 20px !important;
    padding: 2px 10px 2px 10px !important;
}

.select-room {
    background-color: #fff !important;
    color: #333 !important;
    font-size: 14px !important;
    border: 1px solid #FDC60D !important;
    padding: 2px 20px 2px 20px !important;
}

.select-room:hover {
    background-color: #FDC60D !important;
    color: #fff !important;
}

.author {
    color: black;
    text-decoration: underline;
}

.brand {
    font-weight: bold;
    font-size: 20px;
}

.card-img-top {
    border-bottom-left-radius: calc(0.25rem - 1px) !important;
    border-bottom-right-radius: calc(0.25rem - 1px) !important;
}

.card-text {
    font-size: 14px !important;
}

.odakahvaltı-icon {
    color: #FDC60D !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 5px !important;
    padding: 6px !important;
    border: 1px solid #FFF6D6 !important;
}

.room-card {
    margin-top: 20px !important;
    border: none !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.space {
    margin-right: 5px !important;
}

.double-space {
    margin-right: 20px !important;
}

.dropdown-item {
    font-size: 14px !important;
}

.dropdown-toggle::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.vl {
    border-left: 2px solid #f3f3f3;
    height: 30px;
    margin-top: 10px;
}

.night-number {
    background-color: #FFF6D6 !important;
    color: #333 !important;
    width: 70px !important;
    height: 50px !important;
    border-radius: 5px !important;
    padding: 4px !important;
    text-align: center !important;
}

.ara-button {
    background-color: #FDC60D !important;
    color: #333 !important;
    width: 70px !important;
    height: 50px !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 10px !important;
    text-align: center !important;
}

.ara-button:hover {
    background-color: #FDC60D !important;
    color: #fff !important;
}

.form-control {
    height: 50px !important;
    border: none !important;
}

.DayPickerInput input {
    height: 50px !important;
    border: none !important;
}

.vertical-line {
    border-left: 1px solid #ccc !important;
    margin: 0 10px !important;
}

@media only screen and (max-width: 1000px) {
    .vertical-line {
        border-left: none !important;
    }
}

.map-photo{
    margin-top: 20px!important;
    width: 100% !important;
    height: 300px !important;
    border-radius: 10px !important;
}